*,
*::before,
*::after{
    box-sizing: border-box;
    font-family: Arial;
}

body{
    background-color: hsl(240, 3%, 7%);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

header{
    margin: 0;
    padding: .1em .5em;
    color: white;
    border-bottom: 1px solid hsl(240, 2%, 23%);
    font-size: 2.5em;
    font-weight: bold;
    font-family: 'Lobster', cursive;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.icon-helper{
    font-size: 2rem;
    position: relative;
    top: .5rem;
}

.keyboard{
    display: grid;
    grid-template-columns: repeat(20, minmax(.2em, 1em));
    grid-auto-rows: 3.5em;
    row-gap: .5em;
    column-gap: .4em;
    justify-content: center;
    padding: 0 .5em .5em;
}

.key{
    font-size: .8em;
    font-weight: bold;
    grid-column: span 2;
    border: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(
        var(--hue, 200), 
        var(--saturation, 1%), 
        calc(var(--lightness-offset, 0%) + var(--lightness, 51%))
    );
    color: white;
    fill: white;
    text-transform: uppercase;
    border-radius: .25em;
    cursor: pointer;
    user-select: none;
}

.key.large{
    grid-column: span 3;
}

.key > svg{
    width: 1.75em;
    height: 1.75em;
}

.key:hover,
.key:focus{
    --lightness-offset: 10%;
}

.key.wrong{
    --lightness: 23%;
}

.key.wrong-location{
    --hue: 49;
    --saturation: 51%;
    --lightness: 47%;
}

.key.correct{
    --hue: 115;
    --saturation: 29%;
    --lightness: 43%;
}

.guess-grid{
    display: grid;
    justify-content: center;
    align-content: center;
    flex-grow: 1;
    grid-template-columns: repeat(5, 3.5em);
    grid-template-rows: repeat(6, 3.5em);
    gap: .25em;
    padding: .5em;
}

.tile{
    font-size: 2em;
    color: white;
    border: .05em solid hsl(240, 2%, 23%);
    text-transform: uppercase;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    transition: transform 250ms linear;
}

.tile[data-state="active"]{
    border-color: hsl(200, 1%, 34%);
}

.tile[data-state="wrong"]{
    border: none;
    background-color: hsl(240, 2%, 23%);
}

.tile[data-state="wrong-location"]{
    border: none;
    background-color: hsl(49, 51%, 47%);
}

.tile[data-state="correct"]{
    border: none;
    background-color: hsl(115, 29%, 43%);
}

.tile.shake{
    animation: shake 250ms ease-in-out;
}

.tile.dance{
    animation: dance 500ms ease-in-out;
}

.tile.flip{
    transform: rotateX(90deg);
}

@keyframes shake{
    10%{
        transform: translateX(-5%);
    }

    30%{
        transform: translateX(5%);
    }

    50%{
        transform: translateX(-7.5%);
    }

    70%{
        transform: translateX(7.5%);
    }

    90%{
        transform: translateX(-5%);
    }

    100%{
        transform: translateX(0);
    }
}

@keyframes dance{
    20%{
        transform: translateY(-50%);
    }
    
    40%{
        transform: translateY(5%);
    }

    60%{
        transform: translateY(-25%);
    }

    80%{
        transform: translateY(2.5%);
    }

    90%{
        transform: translateY(-5%);
    }

    100%{
        transform: translateY(0);
    }
}

.alert-container{
    position: fixed;
    top: 10vh;
    left: 50vw;
    transform: translate(-50%);
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.alert{
    pointer-events: none;
    background-color: hsl(204, 7%, 85%);
    padding: .75em;
    border-radius: .25em;
    opacity: 1;
    transition: opacity 500ms ease-in-out;
    margin-bottom: .5em;
}

.alert:last-child{
    margin-bottom: 0;
}

.alert.hide{
    opacity: 0;
}

.modal{
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    visibility: hidden;
}

.modal.active{
    background-color: rgba(0, 0, 0, .5);
    visibility: visible;
}

.box{
    max-height: 90%;
    max-width: 90%;
    border-radius: .5rem;
    background-color: #121213;
    border: 1px solid #1a1a1b;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    padding: 2rem;
    font-size: 14px;
}

hr{
    height: 1.5px;
    border: none;
    background-color: hsl(200, 1%, 34%);
}

.help-container{
    align-items: flex-start;
}

.instructions{
    margin: 1rem 0;
}

.block{
    margin-top: .5em;
    display: grid;
    justify-content: start;
    align-content: center;
    grid-template-columns: repeat(5, 3em);
    height: 3.5em;
    gap: .25em;
    padding: .5em;
}

h3{
    margin: .5rem 0 0 0;
    padding: 0;
    letter-spacing: 1px;
}

.stats-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: .5rem;
}

.stats-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: .5rem;
    text-align: center;
    font-size: 12px;
}

.stats-number{
    font-size: 2rem;
}

.guess-dis-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: .5rem;
    width: 80%;
}

.guess-dis-container{
    margin: .1rem .25rem;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: start;
}

.guess-dis-bar{
    height: 1rem;
    width: 18px;
    color: #fff;
    padding: 0 5px;
    text-align: end;
    font-size: 14px;
    margin-left: 5px;
    background-color: hsl(200, 1%, 34%);
}

.guess-dis-bar.bar-green{
    background-color: hsl(115, 29%, 43%);
}

.buttons{
    display: flex;
    flex-direction: row;
    margin: .5rem;
    width: 100%;
    height: 4rem;
    justify-content: space-around;
    align-items: center;
}

.button{
    background-color: hsl(115, 29%, 43%);
    color: #fff;
    text-align: center;
    padding: 1rem; 
    height: 75%;
    border-radius: .25rem;
    font-size: 1rem;
    cursor: pointer;
    user-select: none;
    text-transform: uppercase;
    font-weight: bold;
}

.disabled{
    opacity: .7;
    cursor: auto;
}

.icon{
    margin: 0;
    padding: 0;
    color: #fff;
}

.icon-close{
    display: flex;
    width: 100%;
    justify-content: end;
    font-size: 1.5rem;
}

#help,
#statistics,
#help-close,
#modal-close{
    cursor: pointer;
}

.hide-button{
    opacity: 0;
    visibility: hidden;
}